<html>
  <body>
    <h1>bootstrap.bolt12.org: API Guide {{ NETWORK }} version </h1>
    <p>
      This provides a simple REST API which (at cost of grossly
      violating privacy!) lets wallets implement BOLT 12 offers
      support.
    </p>

    <p>
      It's not complete (yet), but it supports basic offers usage.
    </p>

    <h2 id="decode"> {{ API }}decode/STRING (GET) </h2>

    <p>
      Returns a <tt>application/json</tt> which decode the string (it
      covers bolt11 strings, bolt12 offers, bolt12 invoices and bolt12
      invoice_requests).
    </p>
    <p>
      Most importantly, check <tt>valid</tt>: if it's false, don't use it!
    </p>
    <p>
      You can see a complete JSON return description <a href="https://github.com/ElementsProject/lightning/blob/master/doc/lightning-decode.7.md">on the manual page</a>
    </p>
    <h2 id="fetchinvoice"> {{ API }}fetchinvoice/OFFER[[/msatoshi]/quantity] (GET) </h2>
    <p>
      This fetches an invoice corresponding to a simple offer, and as
      a courtesy, decodes it.  Returns a <tt>application/json</tt>.
      If the offer does not specify an amount, <tt>msatoshi</tt> is
      required, otherwise it is optional.
      Similarly, <tt>quantity</tt> is is required if the offer
      specifies <tt>quantity_min</tt> or <tt>quantity_max</tt>,
      otherwise it is not allowed.
    </p>
    <p>
      It will error if we don't get a response from the node in 60
      seconds.  It will also error if the offer is a recurring offer (see
      <a href="#fetchinvoicerecurring">fetchinvoicerecurring</a>).
    </p>
    <p>
      The important fields are <tt>invoice</tt> (the bolt12 invoice string),
      <tt>changes</tt> (what changed between the offer and the invoice), and
      <tt>decoded</tt> which is the output of the <a href="#decode">decode</a>
      API, to save you a round-trip.
    <p>
    <p>
      You can see a complete JSON return description <a href="https://github.com/ElementsProject/lightning/blob/master/doc/lightning-fetchinvoice.7.md">on the manual page</a>.
    </p>
    <h2 id="fetchinvoicerecurring"> {{ API }}fetchinvoicerecurring/OFFER/LABEL/COUNTER[/START] (GET) </h2>
    <p>
      This fetches an invoice corresponding to an offer which
      has <i>recurrence</i>, and as a courtesy, decodes it.  Returns
      a <tt>application/json</tt>.  It is not a complete API, but is enough
      for testing.
    </p>
    <p>
      The LABEL is a unique string to identify this series of
      recurrences.  COUNTER is the invoice number (it starts at 0, and
      increases by 1 every time).  The offering node won't give you an
      invoice until the previous one has been paid (and also won't
      unless you're inside the paywindow, if the offer specifies one).
      START is required if the offer specifies <tt>start_any_period</tt>,
      otherwise it is not allowed.
    </p>
    <p>
      It will error if we don't get a response from the node in 60
      seconds.  It will also error if the offer is not a recurring offer (see
      <a href="#fetchinvoice">fetchinvoice</a>).
    </p>
    <p>
      The return is similar to <a href="#fetchinvoice">fetchinvoice</a>, but
      unless that was the final permitted payment there is a <tt>next_period</tt>
      which indicates the next COUNTER, and when the next fetch is possible.
    </p>
    <h2 id="status"> {{ API }}status (GET) </h2>
    <p>
      Runs getinfo so you can see if the node has fallen over.
    </p>
  </body>
</html>
